.App {
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/yQYpmEqCmwqN7xVjzS8x2kDBy_0FttMiLHAs4GXHFl-nJ4xDbp7VcWsvYNmOnkvG2ZuevhjDfySJY4VZEdh8E-9o39ZfPaAa-H4tlOf-1UUppCzUyyADmi1Vmz4rXWMGsayICRvC2ZfyYDzflOfEs21mOf60jySUGu3aiAenVMrhJM9vaZKOyUpvGzDaSaCVy11Ii3QxkmgM8Gqsf1oXTVkEiznMQAB2l4gj7PoZ-R5LjexaJ8U15YNMf3LyhXkYtsmnpdz2DeMBNHWP1xEJIRem6exrssktL_rEbZVlvW5NMUIrj87HZiZ65NtZtp25GIZS2Ew5_Y0rBkomeEXkcnmg1wl2dgQxl6wS1cLarPDVi3JzDC8ji6Ou9OfH1qri0JvX4azXHkeh0LsFJ_7m1nPJjHAuEDDuJ7l-1VZ3HTwfLcrcm0C5m0XuCYtlUCpJUByvEmu_X8PzmnqNaAwBy5TqkZnPf5FccJoaRN1BnCA6i4Lc6JzWkfgXYIusPi9PQv87RUhWR_rFylLzMACr8kNl9whQFmo6BeO40MBpkHyjdjNwta8FN4u5KyAYY0nh2DdfcpRHt9Yq_ILvxIxaHzkJQIUV6SBZrGAmLb-kIJoUJmpxWDvu4Su3snpix28tyjfv7lM7HGc5oXJmC_8RmqTYqOdue52VbLKF026gq8V37PO3HB3DE3j1aib9rUPxX0xy1JsSiwnieRlbfAV7uCgzG3IC5xZhV0i1ctna1seBBG8aU8U9oAx04FL_ZEs4xnQVKyq0TjCNa_snn9DZQ_qZmbW1zWN1W_MzV3DFkfwnHCO5Ek5cuPExpdeyu-DvEuCAvkgA223R7zPejaveLjrE4rYfQkUvf8IKInYDFSC7xZ3aSXiXjj6HAcGolZFYnN9x85ywxXocn0FqWllmYPNMJszms4wmDG6oVzKfcEDjfgmu=w1588-h893-no?authuser=0") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-bottom: 5vh;
}
.blur {
  backdrop-filter: blur(5px); /* blur effect to the backdrop */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
